.Controls {
  display: flex;
}

.Controls div {
  padding: 5px;
  border: 2px solid black;
  cursor: pointer;
}

.Connect.active {
  background-color: green;
}

.Destroy.active {
  background-color: red;
}
